<nav>
    <div class="topNav">
        <a href="#" class="brand-logo"><img id="golfBall" class="circle" src="https://www.yourwdwstore.net/assets/images/4/40000/4000/000/44077b.jpg"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./">Home</a></li>
            <li><a href="./courses.html">Courses</a></li>
            <li><a href="#">And Stuff</a></li>

        </ul>
    </div>
</nav>
<h2 id="selectCourse">Select A Course</h2>
<div id="container">
    <h2 class="textCenter">The View</h2>
    <hr class="lineRed">
    <a href="theview" class="brand-logo"> <img class="static" src="https://www.golfcoronado.com/images/slideshows/banner_1.jpg"><img
            class="active" src="https://media.giphy.com/media/klAV5rDupbP9sEzFLr/giphy.gif"></a>
    <h2 class="textCenter">Mountain's Edge</h2>
    <hr class="lineRed">
    <img class="theView" src="https://desertmountain.com/wp-content/uploads/2011/12/apache-course.jpg" alt="golf course picture">
    <h2 class="textCenter">Peak Destiny</h2>
    <hr class="lineRed">
    <img class="theView" src="https://i.dailymail.co.uk/i/pix/2014/11/05/1415183456261_wps_24_PIC_BY_EVAN_SCHILLER_CATE.jpg"
        alt="golf course picture">
</div>

<script>
    $(document).ready(function() {
        $('img.thumbnail').click(function() {
            window.location.href = "/theview";
        });
    });
</script>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Mean Dean Productions
        </div>
    </div>
</footer>