<div id="wrapper"></div>

<table class="rounded">
    <tr>
        <td colspan="12" class="scorecardTitle">
            Golf Scorecard
        </td>
    </tr>
    <tr class="hole">
        <td class="rowTitle">
            Hole
        </td>
        <td class="rowCell">
            1
        </td>
        <td class="rowCell">
            2
        </td>
        <td class="rowCell">
            3
        </td>
        <td class="rowCell">
            4
        </td>
        <td class="rowCell">
            5
        </td>
        <td class="rowCell">
            6
        </td>
        <td class="rowCell">
            7
        </td>
        <td class="rowCell">
            8
        </td>
        <td class="rowCell">
            9
        </td>
        <td>
            Total
        </td>
    </tr>
    <tr class="par" id="parRow">
        <td class="rowTitle">
            Par
        </td>
        <td class="rowCell">
            3
        </td>
        <td class="rowCell">
            4
        </td>
        <td class="rowCell">
            4
        </td>
        <td class="rowCell">
            3
        </td>
        <td class="rowCell">
            5
        </td>
        <td class="rowCell">
            4
        </td>
        <td class="rowCell">
            3
        </td>
        <td class="rowCell">
            3
        </td>
        <td class="rowCell">
            4
        </td>
        <td class="rowCell">
            32
        </td>
    </tr>
    <tr class="player1" id="player1Score">
        <td class="rowTitle">
            Player 1
        </td>
        <td class="rowCell">
            <p id="testOutput11"></p>
        </td>
        <td class="rowCell">
            <p id="testOutput12"></p>
        </td>
        <td class="rowCell">
            <p id="testOutput13"></p>
        </td>
        <td class="rowCell">
            <p id="testOutput14"></p>
        </td>
        <td class="rowCell">
            <p id="testOutput15"></p>
        </td>
        <td class="rowCell">
            <p id="testOutput16"></p>
        </td>
        <td class="rowCell">
            <p id="testOutput17"></p>
        </td>
        <td class="rowCell">
            <p id="testOutput18"></p>
        </td>
        <td class="rowCell">
            <p id="testOutput19"></p>
        </td>
        <td class="rowCell">
            <p id="player1Total"></p>
        </td>
    </tr>
    <tr class="player2">
        <td class="rowTitle">
            Player 2
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class=""></p>
        </td>
    </tr>
    <tr class="player3">
        <td class="rowTitle">
            Player 3
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class="testOutput"></p>
        </td>
        <td class="rowCell">
            <p class=""></p>
        </td>
    </tr>
</table><button id="#hideForm">Hide Form</button>
<table class="rounded">
    <tr>
        <td colspan="12" class="scorecardTitle">
            Golf Scorecard
        </td>
    </tr>
    <tr class="hole">
        <td class="rowTitle">
            Hole
        </td>
        <td class="rowCell">
            1
        </td>
        <td class="rowCell">
            2
        </td>
        <td class="rowCell">
            3
        </td>
        <td class="rowCell">
            4
        </td>
        <td class="rowCell">
            5
        </td>
        <td class="rowCell">
            6
        </td>
        <td class="rowCell">
            7
        </td>
        <td class="rowCell">
            8
        </td>
        <td class="rowCell">
            9
        </td>
        <td>
            Total
        </td>
    </tr>
    <tr class="player1">
        <td class="rowTitle">
            Player 1
        </td>
        <td class="rowCell">
            <input type="text" id="testInput11">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput12">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput13">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput14">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput15">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput16">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput17">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput18">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput19">
        </td>
    </tr>
    <tr class="player2">
        <td class="rowTitle">
            Player 2
        </td>
        <td class="rowCell">
            <input type="text" id="testInput21">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput22">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput23">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput24">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput25">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput26">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput27">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput28">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput29">
        </td>
    </tr>
    <tr class="player3">
        <td class="rowTitle">
            Player 3
        </td>
        <td class="rowCell">
            <input type="text" id="testInput31">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput32">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput33">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput34">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput35">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput36">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput37">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput38">
        </td>
        <td class="rowCell">
            <input type="text" id="testInput39">
        </td>
    </tr>
</table><button id="updatescores">Update Scores</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

<script src="./js/golf.js"></script>