<nav>
    <div class="topNav">
        <a href="#" class="brand-logo"><img id="golfBall" src="https://www.yourwdwstore.net/assets/images/4/40000/4000/000/44077b.jpg"
                class="circle" alt="Image" width="auto" height="64"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./intro.html">Home</a></li>
            <li><a href="./courses.html">Courses</a></li>
            <li><a href="#">And Stuff</a></li>
        </ul>
    </div>
</nav>
<a class="weatherwidget-io" href="https://forecast7.com/en/40d56n111d84/sandy/?unit=us" data-label_1="Current"
    data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="dark">Current WEATHER</a>
<h2 class="textCenter">The View</h2>
<hr class="lineRed">
<h3 class="titleH3">Fly Over</h3>
<img id="overHead" src="http://golf.lacity.org/golf/emailer2020/img/lacity/woodley_combo.jpg" alt="over head view of course">
<h3 class="titleH3">Scorecard</h3>
<div id="scoreCard">
    <table id="scoreTable">
        <thead>
            <tr>
                <th class="tableTop">Hole</th>
                <th class="tableTop">1</th>
                <th class="tableTop">2</th>
                <th class="tableTop">3</th>
                <th class="tableTop">4</th>
                <th class="tableTop">5</th>
                <th class="tableTop">6</th>
                <th class="tableTop">7</th>
                <th class="tableTop">8</th>
                <th class="tableTop">9</th>
                <th class="tableTop">Out</th>
                <th class="tableTop">10</th>
                <th class="tableTop">10</th>
                <th class="tableTop">11</th>
                <th class="tableTop">12</th>
                <th class="tableTop">13</th>
                <th class="tableTop">14</th>
                <th class="tableTop">15</th>
                <th class="tableTop">16</th>
                <th class="tableTop">17</th>
                <th class="tableTop">18</th>
                <th class="tableTop">Out</th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="tableRed">Red</td>
                <td class="tableRed">450</td>
                <td class="tableRed">350</td>
                <td class="tableRed">128</td>
                <td class="tableRed">438</td>
                <td class="tableRed">401</td>
                <td class="tableRed">376</td>
                <td class="tableRed">479</td>
                <td class="tableRed">189</td>
                <td class="tableRed">350</td>
                <td class="tableRed">2800</td>
                <td class="tableRed">401</td>
                <td class="tableRed">425</td>
                <td class="tableRed">450</td>
                <td class="tableRed">480</td>
                <td class="tableRed">502</td>
                <td class="tableRed">185</td>
                <td class="tableRed">245</td>
                <td class="tableRed">325</td>
                <td class="tableRed">456</td>
                <td class="tableRed">550</td>
                <td class="tableRed">3100</td>
            </tr>
            <tr>
                <td class="tableWhite">White</td>
                <td class="tableWhite">480</td>
                <td class="tableWhite">125</td>
                <td class="tableWhite">352</td>
                <td class="tableWhite">480</td>
                <td class="tableWhite">420</td>
                <td class="tableWhite">510</td>
                <td class="tableWhite">176</td>
                <td class="tableWhite">230</td>
                <td class="tableWhite">320</td>
                <td class="tableWhite">2400</td>
                <td class="tableWhite">180</td>
                <td class="tableWhite">220</td>
                <td class="tableWhite">202</td>
                <td class="tableWhite">320</td>
                <td class="tableWhite">420</td>
                <td class="tableWhite">480</td>
                <td class="tableWhite">186</td>
                <td class="tableWhite">145</td>
                <td class="tableWhite">356</td>
                <td class="tableWhite">489</td>
                <td class="tableWhite">2500</td>

            </tr>
            <tr>
                <td>Par</td>
                <td>4</td>
                <td>4</td>
                <td>3</td>
                <td>5</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>3</td>
                <td>4</td>
                <td>35</td>
                <td>4</td>
                <td>3</td>
                <td>4</td>
                <td>4</td>
                <td>5</td>
                <td>3</td>
                <td>3</td>
                <td>5</td>
                <td>4</td>
                <td>4</td>
                <td>38</td>
            </tr>
        </tbody>
    </table>
</div>

<h3 class="titleH3">Preview</h3>
<div id="buttonContainer">
    <a class="waves-effect waves-light btn pink darken-1 modal-trigger" href="#demo-modal">View All Holes</a>
    <a class="waves-effect waves-light btn pink darken-1" href="../../scorecard.html">Play Course</a>
</div>
<div id="demo-modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                <a href="#"><img class="otherModal" src="https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Close</a>
    </div>
</div>
<div id="thePreview">
    <div class="row">
        <div class="col l4 18">
            <a href="#"><img class="preview" src="https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            <p class="holeNumber">Hole One</p>
        </div>
        <div class="col l4 18">
            <a href="#"><img class="preview" src="https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            <p class="holeNumber">Hole Two</p>
        </div>
        <div class="col l4 18">
            <a href="#"><img class="preview" src="https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            <p class="holeNumber">Hole Three</p>
        </div>
    </div>
</div>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Mean Dean Productions
        </div>
    </div>
</footer>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    })

    //Weather Widgit Script
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');

</script>