<main>
<body class="blue lighten-3">
      <nav class = "black">
        <div class="responsive-img">
          <a href="#" class="brand-logo"><img id="golfBall" class="circle" src="https://www.yourwdwstore.net/assets/images/4/40000/4000/000/44077b.jpg" width="60px" height="60px"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./landing">Home</a></li>
            <li><a href="./scorecard">Scorecard</a></li>
          </ul>
        </div>
      </nav>


<a class="weatherwidget-io" href="https://forecast7.com/en/40d56n111d84/sandy/?unit=us" data-label_1="Current" data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="dark" >Current WEATHER</a>

<!--The View Title-->
<div class="row">
            <div class="col s6 offset-s3">
              <div class="card grey darken-4">
                <div class="card-content white-text">
                  <h1 class = "center-align">The View</h1>
                </div>
            </div>
      </div>
</div>

<!--Image card for the fly over-->
<div class="row">
            <div class="col s6 offset-s3">
              <div class="card grey darken-4">
                <div class="card-image">
                  <img class="z-depth-4"src="http://golf.lacity.org/golf/emailer2020/img/lacity/woodley_combo.jpg">
                </div>
                <div class="card-content white-text">
                        <h4 class = "center-align">Fly Over</h4>
                      </div>
                  </div>
            </div>
      </div>
</div>

<!--Scorecard displaying course information-->
<div class="row">
      <div class="col s12">
            <div class="card grey darken-4">
                  <div class="card-content white-text">
                  <span class="card-title">Scorecard</span>
                  <table id = "scoreTable" class="responsive-table">
                        <thead>
                              <tr>
                              <th class = "tableTop">Hole</th>
                              <th class = "tableTop">1</th>
                              <th class = "tableTop">2</th>
                              <th class = "tableTop">3</th>
                              <th class = "tableTop">4</th>
                              <th class = "tableTop">5</th>
                              <th class = "tableTop">6</th>
                              <th class = "tableTop">7</th>
                              <th class = "tableTop">8</th>
                              <th class = "tableTop">9</th>
                              <th class = "tableTop">Out</th>
                              <th class = "tableTop">10</th>
                              <th class = "tableTop">11</th>
                              <th class = "tableTop">12</th>
                              <th class = "tableTop">13</th>
                              <th class = "tableTop">14</th>
                              <th class = "tableTop">15</th>
                              <th class = "tableTop">16</th>
                              <th class = "tableTop">17</th>
                              <th class = "tableTop">18</th>
                              <th class = "tableTop">Out</th>
                  
                              </tr>
                        </thead>
                        
                        <tbody>
                              <tr>
                              <td class = "red-text tableRed">Red</td>
                              <td class = "red-text tableRed">450</td>
                              <td class = "red-text tableRed">350</td>
                              <td class = "red-text tableRed">128</td>
                              <td class = "red-text tableRed">438</td>
                              <td class = "red-text tableRed">401</td>
                              <td class = "red-text tableRed">376</td>
                              <td class = "red-text tableRed">479</td>
                              <td class = "red-text tableRed">189</td>
                              <td class = "red-text tableRed">350</td>
                              <td class = "red-text tableRed">2800</td>
                              <td class = "red-text tableRed">401</td>
                              <td class = "red-text tableRed">450</td>
                              <td class = "red-text tableRed">480</td>
                              <td class = "red-text tableRed">502</td>
                              <td class = "red-text tableRed">185</td>
                              <td class = "red-text tableRed">245</td>
                              <td class = "red-text tableRed">325</td>
                              <td class = "red-text tableRed">456</td>
                              <td class = "red-text tableRed">550</td>
                              <td class = "red-text tableRed">3100</td>
                              </tr>
                              <tr>
                              <td class = "tableWhite">White</td>
                              <td class = "tableWhite">480</td>
                              <td class = "tableWhite">125</td>
                              <td class = "tableWhite">352</td>
                              <td class = "tableWhite">480</td>
                              <td class = "tableWhite">420</td>
                              <td class = "tableWhite">510</td>
                              <td class = "tableWhite">176</td>
                              <td class = "tableWhite">230</td>
                              <td class = "tableWhite">320</td>
                              <td class = "tableWhite">2400</td>
                              <td class = "tableWhite">220</td>
                              <td class = "tableWhite">202</td>
                              <td class = "tableWhite">320</td>
                              <td class = "tableWhite">420</td>
                              <td class = "tableWhite">480</td>
                              <td class = "tableWhite">186</td>
                              <td class = "tableWhite">145</td>
                              <td class = "tableWhite">356</td>
                              <td class = "tableWhite">489</td>
                              <td class = "tableWhite">2500</td>
                  
                              </tr>
                              <tr>
                              <td>Par</td>
                              <td>4</td>
                              <td>4</td>
                              <td>3</td>
                              <td>5</td>
                              <td>4</td>
                              <td>4</td>
                              <td>4</td>
                              <td>3</td>
                              <td>4</td>
                              <td>35</td>
                              <td>3</td>
                              <td>4</td>
                              <td>4</td>
                              <td>5</td>
                              <td>3</td>
                              <td>3</td>
                              <td>5</td>
                              <td>4</td>
                              <td>4</td>
                              <td>38</td>
                              </tr>
                        </tbody>
                        </table>
                  </div>
                  <div class="card-action">
                        <!-- <h5 class = "white-text">Preview</h5> -->
                        <div id = "buttonContainer">
                              <a class="waves-effect waves-light btn blue lighten-1 modal-trigger" href="#demo-modal">View All Holes</a>
                              <a class="waves-effect waves-light btn blue lighten-1" href="./scorecard">Play Course</a> 
                        </div>
                  </div>
            </div>
      </div>        
</div>

<!--popup modal-->
  <div id="demo-modal" class="modal">
    <div class="modal-content">
      <div class="row">
            <div class="col s4 12">
                  <h6>Hole 1</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 2</h6>
                  <a href="#" ><img class = "otherModal" src = "https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 3</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
          </div>
          <div class="row">
            <div class="col s4 12">
                  <h6>Hole 4</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 5</h6>
                  <a href="#" ><img class = "otherModal" src = "https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 6</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
          </div>
          <div class="row">
            <div class="col s4 12">
                  <h6>Hole 7</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 8</h6>
                  <a href="#" ><img class = "otherModal" src = "https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 9</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
          </div>
          <div class="row">
            <div class="col s4 12">
                  <h6>Hole 10</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 11<h6>
                  <a href="#" ><img class = "otherModal" src = "https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 12</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
          </div>
          <div class="row">
            <div class="col s4 12">
                  <h6>Hole 13</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 14</h6>
                  <a href="#" ><img class = "otherModal" src = "https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 15</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
          </div>
          <div class="row">
            <div class="col s4 12">
                  <h6>Hole 16</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.nailcotehall.co.uk/images/main-content/_w320/BP3-Vector-Hole-1.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 17</h6>
                  <a href="#" ><img class = "otherModal" src = "https://docs-mammothmountain-com.s3-us-west-2.amazonaws.com/assets/golf_hole_01.jpg"></a>
            </div>
            <div class="col s4 12">
                  <h6>Hole 18</h6>
                  <a href="#" ><img class = "otherModal" src = "https://www.poipubaygolf.com/wp-content/themes/kaw/images/Poipu-Bay-Hole-01.png"></a>
            </div>
          </div>
                               
    </div>

<!--modal footer-->
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn blue lighten-1">Close</a>
    </div>
  </div>

</div>
</main>

<footer class="page-footer grey darken-4">
            <div class="footer-copyright">
              <div class="container">
              © 2018 Copyright Mean Dean Productions
              </div>
            </div>
          </footer>

<!--JS script for modal and weather widget-->
<script>
$(document).ready(function(){
    $('.modal').modal();
  })

  //Weather Widgit Script
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');

</script>