/*Navbar*/
nav .nav-wrapper {
    background: black!important;
}


h4 {
    font-family: 'Permanent Marker', cursive; 
    font-size: 50px;
    margin-left: 50px;
}

h5 {
    font-family: 'Permanent Marker', cursive; 
    font-size: 40px;
    margin-left: 50px;  
}

table {
    margin-left: 50px;
    width: 600px;
}

th {
    width:50px;
}

td {
    width:50px;
}

body {
    background: lightcyan;
}